.header-wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    transition: .2s;
}

.header-nav {
    background: rgba(0, 0, 0, 0.502);
    text-align: center;
    /* border-top-left-radius: 20px; */
    border-radius: 20px;
}

.header-tab {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 70px;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
}

.header-link  {
    display: inline-block;
    margin: 10px 20px;
}

.header-icon {
    width: 40px;
    height: auto;
    fill: #fff;
    stroke: #fff;
    transition: .2s;
}

.header-link:hover .header-icon,
.header-link:focus .header-icon,
.header-link:active .header-icon {
    fill: #9d6357;
    stroke: #9d6357;
}

.header-burger-icon {
    width: 50px;
    height: 50px;
    fill: white;
}

@media only screen and (max-width: 600px) {
    .header-wrapper {
        display: flex;
        top: 20px;
    }

    .header-wrapper--hide {
        right: -80px;
    }

    .header-wrapper--show {
        right: 20px;
    }

    .header-nav {
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        border-top-left-radius: 0;
    }

    .header-tab {
        display: flex;
    }
    
    .header-nav,
    .header-tab {
        background: #00000094;
    }
}